.layout {
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 64ch;
  padding: 32px 16px 16px 16px;
  box-sizing: border-box;
  /* Prevents edge cases where context is wider than screen width from causing
    left-right scrollbar */
  overflow: hidden;
}

.layout > footer {
  margin-top: auto;
  padding-top: 48px;
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
  color: inherit;
}
