.main {
  display: grid;
  grid-template-columns: inherit;
  grid-column: full;
}

@layer layout {
  .main > * {
    grid-column: content;
  }
}

.footer {
  margin-top: auto;
  padding-top: 48px;
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
  color: inherit;
}
