@layer layout {
  .layout {
    min-height: 100%;
    padding: 32px 12px;
    display: grid;
    grid-template-columns:
      [full-start] 1fr [content-start] minmax(0, var(--content-width))
      [content-end] 1fr [full-end];
    grid-template-rows: [header] auto [main] 1fr [footer] auto;
  }

  .layout > header {
    grid-area: header / content;
    margin-bottom: 32px;
  }

  .headerLink {
    font-family: var(--montserrat), sans-serif;
  }

  .layout > main {
    grid-area: main / full;
  }

  .layout > footer {
    grid-area: footer / content;
    padding-top: 48px;
    display: flex;
    flex-direction: row;
  }

  .layout > :is(header, footer) > *:last-child {
    margin-bottom: 0;
  }
  .layout > :is(header, footer) > *:first-child {
    margin-top: 0;
  }
}
