/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Styles */

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

:root {
  font-family: var(--merriweather), Georgia, serif;
  line-height: 1.7;
  background-color: var(--white);
  color: var(--black);

  --brand-hue: 108;
  --brand2-hue: calc(360 - var(--brand-hue));
}

/* Light color scheme */
:root {
  color-scheme: light;

  --gray300: color-mix(in oklch, var(--white), var(--black) 80%);
  --content-width: 612px;
  --brand: oklch(0.81 0.2 var(--brand-hue));
  --black: color-mix(in oklch, var(--brand) 28.5%, black);
  --white: color-mix(in oklch, var(--brand) 13%, white);
  --link-color: oklch(0.55 0.35 var(--brand2-hue));
}

/* Dark color scheme */
html[data-theme='dark'] {
  @media (prefers-color-scheme: dark) {
    :is(html:not([data-theme='light']), &) {
      color-scheme: dark;

      --black: color-mix(in oklch, var(--brand) 20%, white);
      --white: oklch(0.225 0.01 var(--brand-hue));
      --link-color: oklch(0.75 0.15 var(--brand2-hue));
      --brand: oklch(0.81 0.2 var(--brand-hue));
      --brand2: oklch(1 1 var(--brand2-hue));
    }
  }
}

@layer default-style {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--montserrat), sans-serif;
    line-height: 1.7;
    margin-top: 2em;
    margin-bottom: 0.25em;
    color: var(--black);
  }

  a {
    color: var(--link-color);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  hr {
    background-color: var(--gray300);
    border: none;
    height: 1px;
  }

  pre[class*='language-'] {
    padding: 16px;
    margin-left: -16px;
    margin-right: -16px;
    border-radius: 0;
    overflow-y: auto;
  }

  select {
    border-color: var(--gray300);
    color: var(--black);
    background-color: var(--white);

    /* /Firefox */
    border-style: solid;
    border-width: 1px;
  }

  :focus-visible {
    outline-color: color-mix(in oklab, var(--link-color), var(--black) 30%);
  }

  ::selection {
    background-color: color-mix(in oklab, var(--brand), var(--white) 30%);
  }
}
