.layout {
  --content-width: 500px;

  & header {
    display: grid;
    grid-template-areas:
      'title title title'
      '. . .'
      'avatar . bio';

    grid-template-columns: auto 16px 1fr;
    grid-template-rows: auto 8px 1fr;

    & > * {
      margin: 0;
    }

    margin-bottom: 42px;

    & h1 {
      /* Once "leading-trim" is available, use it here.
      https://caniuse.com/?search=leading-trim
      https://css-tricks.com/leading-trim-the-future-of-digital-typesetting/ */
      grid-area: title;
      font-size: 1.3em;
    }
    & p {
      grid-area: bio;
      font-size: 0.9em;
      /* color: color-mix(in oklab, var(--black), var(--white) 10%); */
    }
  }
  & main {
    grid-column: content;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.avatar {
  --sepia-hue: 30;

  grid-area: avatar;
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  filter: sepia(1)
    hue-rotate(calc((var(--brand2-hue) - var(--sepia-hue)) * 1deg))
    saturate(0.7) brightness(1);
}

.post {
  display: grid;
  grid-template-rows: [title] auto 2px [date] auto 4px [description] auto;
  justify-content: left;
  text-decoration: none;

  &:hover {
    text-decoration: none;

    & h2 {
      text-decoration: underline;
      color: color-mix(in oklab, var(--header), var(--white) 20%);
    }
  }

  & h2 {
    grid-area: title;
    font-size: 1.1rem;
  }

  & time,
  & p {
    font-size: smaller;
    color: color-mix(in oklab, var(--black), var(--white) 10%);
  }

  & time {
    grid-area: date;
  }

  & p {
    grid-area: description;
  }

  & > * {
    margin: 0;
  }
}
