.layout {
  --content-width: 48ch;

  & header {
    margin-bottom: 48px;
  }
  & main {
    grid-column: content;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.bio {
  display: flex;
  & p {
    margin: 0 0 0 16px;
  }
}

.avatar {
  border-radius: 50%;
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
}

.post {
  display: grid;
  grid-template-rows: [title] auto 2px [date] auto 4px [description] auto;
  justify-content: left;

  color: var(--black);

  & h2 {
    grid-area: title;
    font-size: 1.4rem;
  }

  & time,
  & p {
    font-size: smaller;
    color: color-mix(in oklab, var(--black), var(--white) 15%);
  }

  & time {
    grid-area: date;
  }

  & p {
    grid-area: description;
  }

  & > * {
    margin: 0;
  }
}
