.layout {
  --content-width: 500px;

  & header {
    display: grid;
    grid-template-areas:
      'title title title'
      '. . .'
      'avatar . bio';

    grid-template-columns: auto 16px auto;
    grid-template-rows: auto 8px auto;

    & > * {
      margin: 0;
    }

    margin-bottom: 48px;
    & h1 {
      /* Once "leading-trim" is available, use it here.
      https://caniuse.com/?search=leading-trim
      https://css-tricks.com/leading-trim-the-future-of-digital-typesetting/ */
      grid-area: title;
    }
    & p {
      grid-area: bio;
    }
  }
  & main {
    grid-column: content;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.avatar {
  grid-area: avatar;
  border-radius: 50%;
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
}

.post {
  display: grid;
  grid-template-rows: [title] auto 2px [date] auto 4px [description] auto;
  justify-content: left;

  &:hover {
    text-decoration: none;

    & h2 {
      text-decoration: underline;
      color: color-mix(in oklab, var(--header), var(--white) 20%);
    }
  }

  color: var(--black);

  & h2 {
    grid-area: title;
    font-size: 1.4rem;
  }

  & time,
  & p {
    font-size: smaller;
    color: color-mix(in oklab, var(--black), var(--white) 10%);
  }

  & time {
    grid-area: date;
  }

  & p {
    grid-area: description;
  }

  & > * {
    margin: 0;
  }
}
