/*
  Inspiration: https://www.joshwcomeau.com/css/custom-css-reset/
*/

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  :root {
    hyphens: auto;
    overflow-wrap: break-word;
    text-wrap: pretty;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}

@layer page-layout {
  body {
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }
}
