/*
  Inspiration: 
  - https://www.joshwcomeau.com/css/custom-css-reset/
  - https://chriscoyier.net/2023/10/03/being-picky-about-a-css-reset-for-fun-pleasure/
*/

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  :root {
    hyphens: auto;
    overflow-wrap: break-word;
    text-wrap: pretty;

    /*
      Fix Mobile Safari adjusting the front size in landscape 
      https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
    */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  html {
    /*
      If supported, inherits the iOS font settings. As of writing, this means
      using the user bold setting.

      https://frontendmasters.com/blog/letting-ios-text-size-setting-affect-font-size-on-the-web/
    */
    /* font: -apple-system-body; */

    /*
      Respect IOS font size setting. _Must_ go after `font: -apple-system-body;` that setting will cause font-size to be different on safari

      https://frontendmasters.com/blog/letting-ios-text-size-setting-affect-font-size-on-the-web/
    */
    font-size: 1em;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}

@layer page-layout {
  html,
  body {
    height: 100%;
  }
}
