.title {
  margin-bottom: 0;
}

.date {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 0.8em;
}

/* Items are individually sized so we can increase with width with inline styles in the .md files */
.title,
.date,
.markdown > * {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--page-width);
  display: block;
}
