// Reset

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Styles

@font-face {
  font-family: Merriweather;
  src: url('/fonts/merriweather/merriweather-latin-400.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Merriweather;
  src: url('/fonts/merriweather/merriweather-latin-400italic.woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  src: url('/fonts/merriweather/merriweather-latin-700.woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  src: url('/fonts/merriweather/merriweather-latin-700italic.woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/montserrat/montserrat-latin-700.woff2');
  font-weight: normal;
  font-style: bold;
  font-display: block;
}

@font-face {
  font-family: SFMono-Regular;
  src: url('/fonts/SFMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

@mixin light-theme {
  --brand: oklch(0.81 0.2 var(--brand-hue));
  --black: color-mix(in oklch, var(--brand) 28.5%, black);
  --white: color-mix(in oklch, var(--brand) 13%, white);
  --link-color: oklch(0.55 0.35 var(--brand2-hue));
  color-scheme: light;
}

@mixin dark-theme {
  --black: color-mix(in oklch, var(--brand) 20%, white);
  --white: oklch(0.26 0.01 var(--brand-hue));
  --link-color: oklch(0.75 0.15 var(--brand2-hue));
  --brand: oklch(0.81 0.2 var(--brand-hue));
  --brand2: oklch(1 1 var(--brand2-hue));
  color-scheme: dark;
}

:root {
  @include light-theme;

  font-family: Merriweather, Georgia, serif;
  line-height: 1.7;

  --brand-hue: 108;
  --brand2-hue: calc(360 - var(--brand-hue));

  background-color: var(--white);
  color: var(--black);
  --gray300: color-mix(in oklch, var(--white), var(--black) 80%);
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme='light']) {
    @include dark-theme;
  }
}

html[data-theme='dark'] {
  @include dark-theme;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  line-height: 1.1;
  margin-top: 2rem;
  color: var(--black);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  background-color: var(--gray300);
  border: none;
  height: 1px;
}

pre[class*='language-'] {
  padding: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-radius: 0;
  overflow-y: auto;
}

select {
  border-color: var(--gray300);
  color: var(--black);
  background-color: var(--white);
}

:focus-visible {
  outline-color: color-mix(in oklab, var(--link-color), var(--black) 30%);
}

::selection {
  background-color: color-mix(in oklab, var(--brand), var(--white) 30%);
}

/// Layout

@layer layout {
  #__next {
    min-height: 100%;
    padding: 32px 0 16px 0;
  }

  #__next,
  .full-width {
    --minimum-content-padding: 8px;

    /** TRACK WIDTHS **/
    --full-max-width: 1fr;
    --breakout-max-width: 80ch;
    --content-max-width: 64ch;
    --inset-content-max-width: 48ch;

    /** TRACK SIZES **/
    --full: minmax(var(--minimum-content-padding), 1fr);
    --breakout: minmax(
      0,
      calc((var(--breakout-max-width) - var(--content-max-width)) * 0.5)
    );
    --content: minmax(
      0,
      calc((var(--content-max-width) - var(--inset-content-max-width)) * 0.5)
    );
    --inset-content: min(
      var(--inset-content-max-width),
      100% - var(--minimum-content-padding) * 2
    );

    display: grid;
    grid-template-columns:
      [full-start]
      var(--full)
      [breakout-start]
      var(--breakout)
      [content-start]
      var(--content)
      [inset-content-start]
      var(--inset-content)
      [inset-content-end]
      var(--content)
      [content-end]
      var(--breakout)
      [breakout-end]
      var(--full)
      [full-end];

    > * {
      grid-column: content;
    }
  }

  /** CLASSES **/
  .full {
    grid-column: full;
  }
  .full-start {
    grid-column-start: full-start;
  }
  .full-end {
    grid-column-end: full-end;
  }

  .breakout {
    grid-column: breakout;
  }
  .breakout-start {
    grid-column-start: breakout-start;
  }
  .breakout-end {
    grid-column-end: breakout-end;
  }

  .content {
    grid-column: content;
  }
  .content-start {
    grid-column-start: content-start;
  }
  .content-end {
    grid-column-end: content-end;
  }

  .inset-content {
    grid-column: inset-content;
  }
  .inset-content-start {
    grid-column-start: inset-content-start;
  }
  .inset-content-end {
    grid-column-end: inset-content-end;
  }

  .full-width {
    grid-column: full;
  }
  .full-content,
  .full-content-nopad {
    grid-column: full;
  }
  .full-content {
    padding-inline: var(--minimum-content-padding);
  }
}
